body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin: 15px;
  border: 2.5px solid black;
  padding: 10px;
  background-color: grey;
}

header img {
  width: 15%;
  height: auto;
  object-fit: contain;
  margin-right: 20px;
  padding: 5px;
}

@media only screen and (max-width: 767px) {
  header img {
    width: 75%;
  }
}

.name {
  display: flex;
  justify-content: center;
  border: 2.5px solid black;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 5px;
}

.menu-header {
  font-size: 24px;
  font-weight: bold;
  margin-right: 50px;
  border: 2.5px solid black;
  padding: 10px;
  text-align: center;
}

.menu-header:hover {
  background-color: blue;
  transition: 0.5s;
}

.content {
  text-align: center;
  margin-bottom: 50px;
}

select {
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 20px;
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 500px) {
  header {
      font-size: 22px;
      width: 100%;
  }
  
  .menu {
      flex-wrap: wrap;
      justify-content: space-between;
  }
  
  .menu-header {
      margin-right: 0;
      width: 100%;
      margin-bottom: 10px;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

textarea {
  padding: 10px 20px;
  font-size: 18px;
  width: 80%;
  margin-bottom: 20px;
  resize: none;
}

@media (max-width: 767px) {
  textarea {
    width: 100%;
  }
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
